{% extends "base.html" %} {% block content %}

<div class="content">
  <h1>
    Explorando con <br />
    <span>Grabación y Automatización</span><br />de datos
  </h1>
  <p class="par">
    En este pequeño proyecto tenemos la intención de de recopilar <br />
    información mediante una url que nos proveerás,obtendremos los datos
    <br />de un video que se creará y al que tú también tendrás acceso.<br />
    Eventualmente podrás solicitar información sobre el tráfico aéreo ,pero
    antes<br />
    es necesario que nos ayudes a entrenar el modelo con la zona que te
    <br />pueda interesar, si quieres ser parte de la experiencia...
  </p>

  <button class="cn"><a href="/registrar">REGISTRATE</a></button>

  <form action="/flug/login" method="post" class="Form" id="loginForm">
    <h2>Iniciar Sesión</h2>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      class="inp"
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Contraseña"
      class="inp"
    />
    <span class="error" id="notifications"></span>
    <button type="submit" class="btn">Entrar</button>
  </form>
</div>

{% endblock %}
