{% extends "base.html" %} {% block content %}
<form
  action="/flug/create_user"
  method="post"
  class="Form ubico"
  id="registerForm"
>
  <h2>Regístrate aquí</h2>
  <input type="email" name="email" id="email" placeholder="Email" class="inp" />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Contraseña"
    class="inp"
  />
  <input
    type="password"
    name="confirmpassword"
    id="confirmpassword"
    placeholder="Confirma Contraseña"
    class="inp"
  />
  <span class="error" id="notifications"></span>
  <button type="submit" class="btn">Guardar</button>
</form>

{% endblock %}
